{% extends "base.html" %}
{% block title %}Login - Blockchain Voting{% endblock %}
{% block content %}
<div class="hero min-h-fit bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left lg:pl-10">
            <h1 class="text-5xl font-bold">Login now!</h1>
            <p class="py-6">Access the decentralized voting platform. Your vote matters, secure it on the blockchain.</p>
        </div>
        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <form class="card-body" method="POST" action="{{ url_for('login') }}">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Email</span>
                    </label>
                    <input type="email" name="email" placeholder="email" class="input input-bordered" required />
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" name="password" placeholder="password" class="input input-bordered" required />
                    </div>
                <div class="form-control mt-6">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                 <p class="text-center mt-4 text-sm">
                    Don't have an account? <a href="{{ url_for('register') }}" class="link link-primary">Register here</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}